:root {
  --darkblue: #061130;
  --blue: #1C4BC4;
  --white: #F4F6F8;
  --yellow: #FAFD61;
}

header {
  display: flex;
  background-color: var(--darkblue);
}

headerBtns {
  justify-content: center;
  color: unset;
  text-decoration: unset;
}

body {

  background-color: var(--darkblue);
}

h4 {
  color: var(--yellow);
}

h1 {
  color: var(--white)
}

p {
  color: var(--white)
}