:root {
  --darkblue: #061130;
  --blue: #1C4BC4;
  --white: #F4F6F8;
  --yellow: #FAFD61;
}

Body {
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
}

header {
  background-color: var(--darkblue);
  padding: 1em;
}

a.whiteText {
  color: var(--white);
  text-decoration: none;
}

.displayFlexHeader {
  display: flex;
  justify-content: end;
}

.headerBtns {
  background-color: unset;
  text-decoration: none;
}

.margin {
  margin: 50%;
}

.ms-10vw {
  margin-left: 10vw;
}

.width-50 {
  width: 50%;
}

.justify-Center {
  justify-content: center;
}


main {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 1em;
}

h4 {
  color: var(--yellow);
}

h1 {
  color: var(--white);
}

p {
  color: var(--white);
}

.displayFlexMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

footer {
  background-color: var(--white);
  color: black;
  padding: 1em;
}

.displayFlexFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.blueText {
  color: var(--blue);
  text-decoration: none;
}